@tailwind base;
@tailwind components;
@tailwind utilities;
.page {
  max-width: 900px;
  margin: auto;
  padding: 3rem 1.5rem;
}

.page h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.page p {
  color:#555;
}